# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Fall N Roll.iml
# Datasource local storage ignored files
/../../../../../../../../:\BEZMICAN ZEHIR\GitHub Repositories\Public\Fall N Roll\.idea\.idea.Fall N Roll\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
